[build]
builder = "nixpacks"
buildCommand = "pip install -r requirements.txt && python manage.py migrate --noinput && python manage.py collectstatic --noinput --clear"

[deploy]
startCommand = "gunicorn political_crm.wsgi:application"
healthcheckPath = "/admin/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[env]
PYTHONUNBUFFERED = "1"
